# 🔐 Autenticação e Segurança
bcrypt==4.1.2
PyJWT==2.8.0

# 🌐 Web Framework
flask==2.3.3
flask-cors==4.0.0

# 📦 Utilidades e Configuração
python-dotenv==1.0.1
requests==2.31.0

# 📊 Integração com Google Sheets
gspread==5.7.2
oauth2client==4.1.3

# 🛠️ Banco de Dados
mysql-connector-python==8.3.0

# 🤖 Automatização com Telegram (se estiver usando)
telethon==1.24.0

# 🧪 Testes
pytest==8.1.1
